body {
    background-image: url("./imagen/business.jpg");
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
    background-size: 100% 100%;
    backdrop-filter: blur(10px);
    width:40%;
}

#form{
	width:40%;
	padding: 20%;
	border-radius: 10px;
    border:1px solid #0c0c0c;
	margin:auto;
	background-color:rgba(243, 237, 237, 0.192);
    text-align: center;
}

.input-form{
	width:100%;
	font-weight:bold;
	display:inline-block;
    
}

.logo{
    width:180%;
    margin-top: -20%;
    margin-left: -40%;
}

.img-user{
    width:50%;
    margin-top: 40%;
    margin-left: -10%;
}

.user{
    margin-top: 10%; 
    margin-left: -10%; 
    border-radius: 10px;
    font-size: 100%;
    }

.input1 {
    background-color: rgba(156, 200, 242, 0.267);
    width: 120%;
    height: 200%;
    color: rgb(2, 1, 1);
    font-weight: bolder;
}

.button{
    width: 50%;
    margin-left: 10%;
    background-color: rgba(22, 43, 78, 0.856);
    color: #9CC9F2;
    font-size: 100%;
}

#formPost{
    width:190%;
    padding: 20%;
	border-radius: 10px;
    border:1px solid #0c0c0c;
	margin:auto;
	background-color:rgba(183, 243, 248, 0.794);
    text-align: center;
}

.input1{
	width:100%;
	font-weight:bold;
	display:inline-block;
    margin-top: 5%;
    
}
 .menu{
   width: 15%;
   background-color:rgba(196, 217, 219, 0.794);
   position: relative;
   left: 100%;
     
}

#cardPost{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    /*height: 350px;*/
    margin-bottom: 5%;
    /*margin-right: 5%;*/
    background: #79CDB2;
    box-shadow: 10px 10px 4px rgba(64, 107, 94, 0.87);
}

.locationimg{
    width:2%;
}